.Login-box {
  border: 1px solid blueviolet;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 3rem;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24);
  display: flex;
}

.Login-box__header {
  margin: 0.5rem 0 1.5rem 0;
}
.Login-box_logo {
  width: 40px;
  height: 40px;
}

.Login-box_logo {
  height: 40px;
  margin-right: 0.5rem;
  border-radius: 50%;
  /* margin-left: 40%; */
}

.Login-box__form-content {
  margin-bottom: 0.5rem;
  margin-right: 2.5rem;
}

.Login-box__form-content input {
  height: 1.5rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid blueviolet;
  background-color: transparent;
}

.Login-box__form-content input:hover {
  /* background-color: white; */
}

.btn-login {
  padding: 0.7rem 1rem;
  border-radius: 20px;
  margin: 0.5rem 0;
  transition: all 0.3s;
  border: 1px solid blueviolet;
  width: 85%;
  background-color: rgba(137, 43, 226, 0.668);
  color: white;
  cursor: pointer;
}

.btn-login:hover {
  background-color: blueviolet;
}

.text-login {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: gray;
}

.avatar {
  margin: 0.5rem 0;
}

.rightbox {
  position: relative;
  max-height: 25rem;
  width: 20rem;
  overflow: hidden;
  object-fit: cover;
  border-radius: 2rem;
}

rightbox img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.text {
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
}

.text-1 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 0.5rem;
}

.text-2 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
