.Login-box {
  border: 1px solid blueviolet;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 3rem;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24);
}

.Login-box__header {
  margin: 0.5rem 0 1.5rem 0;
}
.Login-box_logo {
  width: 40px;
  height: 40px;
}

.Login-box img {
  height: 40px;
  margin-right: 0.5rem;
  border-radius: 50%;
  /* margin-left: 40%; */
}

.Login-box__form-content {
  margin-bottom: 0.5rem;
}

.Login-box__form-content input {
  height: 1.5rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid blueviolet;
  background-color: transparent;
}

.Login-box__form-content input:hover {
  /* background-color: white; */
}

.btn-login {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  margin: 0.5rem 0;
  transition: all 0.3s;
  border: 1px solid blueviolet;
}

.btn-login:hover {
  background-color: blueviolet;
  color: white;
}

.text-login {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: gray;
}
